<!DOCTYPE html>{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {% static 'css/inicio.css' %} ">
    <title>Document</title>
</head>

<body>
    <div class="modal">
        <div class="contenido">
            <header>¡Bienvenidos!</header>
            <div class="modalcuerpo">
                <form class="form" method="post">
                    {% csrf_token %}
                    <input name='nombre' type="text" required maxlength="80" minlength="10">
                    <label class="lbl-nombre">
                    <span class="text-nomb">Nombre</span>
                </label>
                </form>
            </div>
        </div>
    </div>
</body>

</html>